@import "variables";

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $lightest;
  color: $dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-content{
    margin: 0 $content-margin $content-margin $content-margin;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1rem;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

.spacing{
    margin: $spacing-separation;
}

.flat-border{
  border: $corner-thickness solid $light-dark;
  border-radius: $corner-radius;
}

.colored-button{
  width: 100%;
  background-color: $primary;
  border: none;
  border-radius: $corner-radius;
  padding: $spacing;
  color: $lightest;
  transition: all 0.3s;
  font-size: $button-text-size;
  &:hover{
    background-color: rgba($primary, 0.5);
  }
}

.green {
  color: $green;
}

.orange {
  color: $orange;
}

.red {
  color: $red;
}

.green-bg {
  background-color: $green;
  &:hover{
    background-color: rgba($green, 0.5);
  }
}

.orange-bg {
  background-color: $orange;
  &:hover{
    background-color: rgba($orange, 0.5);
  }
}

.red-bg {
  background-color: $red;
  &:hover{
    background-color: rgba($red, 0.5);
  }
}

.books-cover{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .book-result{
    margin-bottom: $spacing-separation;
    width: 175px;
    max-width: calc(50% - 10px);
  }
}