:root {
  --flatify__link-color: hsl(153, 100%, 33%);
  --flatify__link-color__hover: hsl(153, 100%, 22%);
  --flatify__link-color__focus: hsl(153, 100%, 44%);

  --flatify__color-accent-primary: hsl(153, 100%, 33%);
  --flatify__color-accent-light: hsl(153, 100%, 44%);
  --flatify__color-accent-dark: hsl(153, 100%, 22%);
  --flatify__color-accent-darker: hsl(153, 100%, 11%);

  --flatify__color-light-primary: hsl(153, 100%, 33%)-light;
  --flatify__color-light-light: hsl(0, 0%, 100%);
  --flatify__color-light-dark: hsl(0, 0%, 94%);
  --flatify__color-light-darker: hsl(0, 0%, 84%);
  --flatify__color-dark-primary: hsl(345, 6%, 13%);
  --flatify__color-dark-light: hsl(0, 0%, 87%);
  --flatify__color-dark-dark: hsl(345, 6%, 13%);
  --flatify__color-dark-darker: hsl(345, 6%, 13%);

  --flatify__txt-color: hsl(153, 10%, 20%);
  --flatify__txt-color-light: hsl(0, 0%, 84%);
  --flatify__txt-color-dark: hsl(345, 6%, 13%);
  --flatify__txt-color-inverted: hsl(0, 0%, 100%);
  --flatify__bg-color: hsl(0, 0%, 100%);
  --flatify__bg-color-dark: hsl(0, 0%, 87%);
  --flatify__bg-color-darker: hsl(0, 0%, 94%);
  --flatify__bg-color-darkest: hsl(0, 0%, 84%);
}